//
// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).
//

.navbar-nav {
    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    /*
    TODO
    .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
  
    .dropdown-menu {
        position: static;
        float: none;
    }
    */
}