//
// Navbar brand
//
// Used for brand, project, or site names.
//

.navbar-brand {
    display: inline-block;
    //padding-top: $navbar-brand-padding-y;
    //padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-padding-x;
    @include font-size($navbar-brand-font-size);
    line-height: inherit;
    white-space: nowrap;
  
    @include hover-focus {
        text-decoration: none;
    }

    display: flex;
    align-items: center;
    color: $white;
    font-weight: bolder;
}
