
.navbar-center
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: calc(50% - 50%/2);
    width: 50%;

    height: $navbar-height;
}

.navbar-expand
{
    @each $breakpoint in map-keys($grid-breakpoints)
    {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix}
        {
            .navbar-center
            {
                @include media-breakpoint-down($breakpoint)
                {
                    width: 100%;
                    left: unset;
                    position: unset;
                }
            }
        }
    }
}
