//
// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
//

.navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        // For always expanded or extra full navbars, ensure content aligns itself
        // properly vertically. Can be easily overridden with flex utilities.
        align-items: center;
    }

    // Button for toggling the navbar when in its collapsed state
    .navbar-toggler {
        padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
        @include font-size($navbar-toggler-font-size);
        line-height: 1;
        background-color: transparent; // remove default button style
        border: $border-width solid transparent; // remove default button style
        @include border-radius($navbar-toggler-border-radius);

        @include hover-focus {
            text-decoration: none;
        }
    }

    // Keep as a separate element so folks can easily override it with another icon
    // or image file as needed.
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }

    // Generate series of `.navbar-expand-*` responsive classes for configuring
    // where your navbar collapses.
    .navbar-expand {
        @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                > .container,
                > .container-fluid {
                    padding-right: 0;
                    padding-left: 0;
                }
            }

            @include media-breakpoint-up($next) {
                flex-flow: row nowrap;
                justify-content: flex-start;

                /*
                TODO
                .navbar-nav {
                    flex-direction: row;

                    .dropdown-menu {
                        position: absolute;
                    }

                    .nav-link {
                        padding-right: $navbar-nav-link-padding-x;
                        padding-left: $navbar-nav-link-padding-x;
                    }
                }
                */

                // For nesting containers, have to redeclare for alignment purposes
                > .container,
                > .container-fluid {
                    flex-wrap: nowrap;
                }

                .navbar-collapse {
                    display: flex !important; // stylelint-disable-line declaration-no-important

                    // Changes flex-bases to auto because of an IE10 bug
                    flex-basis: auto;
                }

                .navbar-toggler {
                    display: none;
                }
            }
        }
    }
}
