//
// Navbar themes
//

@mixin navbar-theme(
    $bg,
    $color,
    $active-color,
    $hover-color,
    $disabled-color,
    $brand-color,
    $brand-hover-color,
    $toggler-icon-bg,
    $toggler-border-color)
{

    background: $bg;

    .navbar-brand {
        color: $brand-color;

        @include hover-focus {
            color: $brand-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $color;

            @include hover-focus {
                color: $hover-color;
            }

            &.disabled {
                color: $disabled-color;
            }
        }

        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $active-color;
        }
    }

    .navbar-toggler {
        color: $color;
        border-color: $toggler-border-color;
    }

    .navbar-toggler-icon {
        background-image: $toggler-icon-bg;
    }

    .navbar-text {
        color: $color;
        a {
            color: $active-color;

            @include hover-focus {
                color: $active-color;
            }
        }
    }
}

.navbar
, .navbar-theme-default
{
    @include navbar-theme(
        $navbar-bg,
        $navbar-dark-color,
        $navbar-dark-active-color,
        $navbar-dark-hover-color,
        $navbar-dark-disabled-color,
        $navbar-dark-brand-color,
        $navbar-dark-brand-hover-color,
        $navbar-dark-toggler-icon-bg,
        $navbar-dark-toggler-border-color);
}

.navbar-theme-dark
{
    @include navbar-theme(
        $dark,
        $navbar-dark-color,
        $navbar-dark-active-color,
        $navbar-dark-hover-color,
        $navbar-dark-disabled-color,
        $navbar-dark-brand-color,
        $navbar-dark-brand-hover-color,
        $navbar-dark-toggler-icon-bg,
        $navbar-dark-toggler-border-color);
}

.navbar-theme-light
{
    @include navbar-theme(
        $light,
        $navbar-light-color,
        $navbar-light-active-color,
        $navbar-light-hover-color,
        $navbar-light-disabled-color,
        $navbar-light-brand-color,
        $navbar-light-brand-hover-color,
        $navbar-light-toggler-icon-bg,
        $navbar-light-toggler-border-color);
}

//--------------------------------------------------------------------------------------------------

@mixin navbar-theme-2($color)
{
    // Navbar button
    .navbar-button
    {
        color: rgba($color, 0.7);

        &:hover
        {
            color: rgba($color, 8);
        }
        &.active
        {
            color: rgba($color, 1);
        }
        &.disabled
        {
            color: rgba($color, 0.2);
        }
    }
}

.navbar
, .navbar-theme-default
{
    @include navbar-theme-2($navbar-light-color);
}

.navbar-theme-dark
{
    @include navbar-theme-2($navbar-dark-color);
}

.navbar-theme-light
{
    @include navbar-theme-2($navbar-light-color);
}

