@import '@germix/germix-react-core/dist/index.scss';
@import './styles/variables.scss';

//--------------------------------------------------------------------------------------------------

.navbar
{
    z-index: $navbar-z-index;
    box-shadow: $navbar-shadow;
    min-height: $navbar-height; 

    // Navbar group
    .navbar-group
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Navbar button
    .navbar-button
    {
        padding: 0 8px;
        transition: color 0.3s;
        height: $navbar-height;
        display: flex;
        align-items: center;

        &:not(.disabled)
        {
            cursor: pointer;
        }

        .navbar-button-image
        {
            width: $navbar-button-image-width;
        }
    }

    // Navbar divider
    .navbar-divider
    {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        width: 2px;
        height: 26px;
        margin-left: 8px;
        margin-right: 8px;
    }

    // Navbar logo
    .navbar-logo
    {
        line-height: 0;
        img
        {
            width: calc(#{$navbar-height} - #{$navbar-padding-y}*2);
            height: calc(#{$navbar-height} - #{$navbar-padding-y}*2);
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}


//--------------------------------------------------------------------------------------------------

@import './styles/navbar';
@import './styles/navbar-nav';
@import './styles/navbar-text';
@import './styles/navbar-brand';
@import './styles/navbar-responsive';
@import './styles/navbar-themes';

@import './styles/navbar-center';

.navbar-brand {
    img {
        width: calc(#{$navbar-height} - #{$navbar-padding-y}*2);
        height: calc(#{$navbar-height} - #{$navbar-padding-y}*2);
    }
}

.navbar-height
{
    height: $navbar-height;
}
